
<div class ="container">
 <h2 class ="mt-3">ロケ地詳細</h2>
 <div class ="row">
   <div class ="col-12 col-md-5 mt-4">
     <div>
      <% if @post.image.attached? %>
       <%= image_tag @post.image, size: "300x300" %>
      <% else %>
       <%= image_tag 'no-image', size: "300x300" %>
      <% end %>
     </div>
     <div>投稿者　<%= @post.user.name %></div>
   </div>


   <div class ="col-10 col-md-7 mt-4">
    <table class ="table table-borderless">
      <tr>
       <th class ="col-3 col-md-3">タイトル</th>
       <th><%= @post.title %></th>
      </tr>
      <tr>
       <th class ="col-3 col-md-3">概要</th>
       <th><%= @post.body %></th>
      </tr>
      <tr>
       <th class ="col-3 col-md-3">タグ</th>
       <th>
        <% unless @post.tags.nil? %>
         <% @post.tags.each do |tag| %>
          <%= tag.name %>,
         <% end %>
        <% end %>
       </th>
      </tr>
      <tr>
       <th class ="col-3 col-md-3">評価</th>
       <th>
        <span id ="show_star"></span>
       </th>
      </tr>
      <tr>
       <th class ="col-3 col-md-3">郵便番号</th>
       <th><%= @post.postal_code %></th>
      </tr>
      <tr>
       <th class ="col-3 col-md-3">住所</th>
       <th>
        <%= @post.address %>
       </th>
      </tr>
    </table>
    <div id ="map"></div>
    <div class ="mt-2">
     <% if @post.user == current_user %>
      <%= link_to '編集する', edit_post_path(@post), class: "btn btn-success offset-md-1" %>
      <%= link_to '削除する', post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger" %>
     <% end %>
    </div>
   </div>

 </div>
</div>

<script>
       var show_elem = document.querySelector('#show_star')
       $('#show_star').empty();
         // scriptファイルをどのidの部分に配置するかを指定
       var show_opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        readOnly: true,
        half: true,
        score: <%= @post.rate %>
         //星画像の指定などのオプションをここに記述,
        };
      raty(show_elem,show_opt);
        //application.jsの20行目のratyを使用している
</script>

<script>
  function initMap() {
   //latitude, longitudeから位置を特定
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所:<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
     content: contentString
    });

   //Map上の指定した位置にピンをさして表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                  });

    marker.addListener('click', function() {
     infowindow.open(map, marker);
    });
  }
</script>

<script async defer
          src ="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBc-L4J15-3auQw4NpuU8yf8gRjPP3D2SQ&callback=initMap">
</script>

