
<div class ="container">
  <% if params[:tag_ids] %>
    <h2 class ="mt-3"><%= @tag.name %>のロケ地一覧　(全<%= @all_posts_count %>件)</h2>
  <% else %>
    <h2 class ="mt-3">ロケ地一覧　(全<%= @all_posts_count %>件)</h2>
  <% end %>

  <div class ="row">
    <div class ="col-lg-2 mt-4">
     <%= link_to "ロケ地一覧へ", posts_path %>
     <table class ="table table-bordered">
      <thead class ="table-success">
       <tr>
        <th>タグ検索</th>
       </tr>
      </thead>
      <tbody>
       <% @tags.each do |tag| %>
       <tr>
        <th><%= link_to tag.name, posts_path(tag_ids: tag.id), class: 'tag_link' %></th>
       </tr>
       <% end %>
      </tbody>
     </table>
    </div>

    <div class ="col-lg-9 mr-2">
      <div class ="row">
      <% if @posts.first %>
        <% @posts.each do |post| %>
        <div class ="mt-4 col-lg-3">
          <div>
            <% if post.image.attached? %>
              <%= image_tag post.image, class: 'index-img' %>
            <% else %>
              <%= image_tag asset_path('no-image'), class: 'index-img' %>
            <% end %>
          </div>
          <div>
            <%= link_to detail_post_path(post.id) do %>
              <%= post.title %>
            <% end %>
          </div>
          <div><%= post.address.truncate(11) %></div>
          <div>
            <% unless post.tags.nil? %>
              <% post.tags.each do |tag| %>
                <%= tag.name %>,
              <% end %>
            <% end %>
          </div>
          <div><span id ="index_star<%= post.id %>"></span>
            <script>
               var index_elem = document.querySelector('#index_star<%= post.id %>');
               $('#index_star<%= post.id %>').empty();
                 // scriptファイルをどのidの部分に配置するかを指定
               var index_opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                readOnly: true,
                score: <%= post.rate %>
                 //星画像の指定などのオプションをここに記述,
                };
              raty(index_elem,index_opt);
                //application.jsの20行目のratyを使用している
            </script>
          </div>
        </div>
        <% end %>
      <% else %>
        <h3 class ="mt-4">　　　該当するロケ地の投稿はありませんでした。</h3>
      <% end %>
      </div>
    </div>
  </div>
  <div class ="row justify-content-center mt-3">
    <p><%= paginate @posts %></p>
  </div>
</div>




