<div class ="container">
 <h2 class ="mt-3">投稿一覧</h2>
 <div>
   <% @posts.each do |post| %>
   <div>
    <% if post.image.attached? %>
     <%= image_tag post.image, size: "150x150" %>
    <% else %>
     <%= image_tag 'no-image', size: "150x150" %>
    <% end %>
   </div>
   <div>
    <%= link_to post_path(post.id) do %>
     <%= post.title %>
    <% end %>
   </div>
   <div><%= post.address %></div>
   <div><%= post.tags.map(&:name).join(', ') %></div>
   <div>評価</div>
   <% end %>
 </div>

 <div class ="row justify-content-center mt-3">
   <%= paginate @posts %>
 </div>

</div>