
<div class ="container">
 <h2 class ="mt-3 text-dark bg-light">投稿フォーム</h2>

 <div class ="mt-4">
    <% if @post.errors.any? %>
     <ul class ="alert alert-danger" role ="alert">
      <h6 class ="alert-heading">
       <%= @post.errors.count %>件のエラーが発生しました
      </h6>
      <%= @post.errors.full_messages.each do |message| %>
       <li><%= message %></li>
      <% end %>
     </ul>
    <% end %>

    <%= form_with model: @post do |f| %>
     <div class ="field">
      <%= f.label :image, "画像", class: "col-lg-3 offset-lg-1" %>
      <%= f.file_field :image, accept: "image/*" %>
     </div>
     <div class ="field">
      <%= f.label :title, "タイトル", class: "col-lg-3 offset-lg-1" %>
      <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
     </div>
     <div class ="field">
      <%= f.label :body, "概要", class: "col-lg-3 offset-lg-1" %>
      <%= f.text_area :body %>
     </div>
     <div class ="field">
      <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "col-lg-3 offset-lg-1" %>
      <%= f.text_field :postal_code, autocomplete: "postal_code" %>
     </div>
     <div class ="field">
      <%= f.label :address, "住所", class: "col-lg-3 offset-lg-1" %>
      <%= f.text_field :address, autocomplete: "address" %>
     </div>
     <div class ="field">
      <%= f.label "タグ", class: "col-lg-3 offset-lg-1" %>
      <%= f.text_field :tag_name, value: @post.tags.pluck(:name), autocomplete: "tag_name" %>
     </div>

     <div class ="field">
      <%= f.label :rate, "評価", class: "col-lg-3 offset-lg-1" %>
      <span id ="review_star">
       <%= f.hidden_field :rate %>
      </span>
     </div>

     <div class ="actions">
      <%= f.submit "投稿", class: "btn btn-success offset-lg-4 mt-2" %>
     </div>
    <% end %>


  </div>

 </div>
</div>

<script>
       var elem = document.querySelector('#review_star');
         // scriptファイルをどのidの部分に配置するかを指定
       var opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: "post[rate]"
         //星画像の指定などのオプションをここに記述,
        };
      raty(elem,opt);
        //application.jsの20行目のratyを使用している
</script>