<!DOCTYPE html>
<html>
  <head>
    <title>Location Books</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ="d-flex flex-column vh-100">

    <header class ="border-bottom">
      <nav class ="navbar navbar-expand-lg navbar-light">
        <div class ="container">
          <div class ="navbar-brand">
            <!--管理者がログインしているとき-->
            <% if admin_signed_in? %>
              <%= link_to admin_path do %>
              <%= image_tag 'IMG_8607.jpg', size: "350x80" %>
              <% end %>
            <!--ユーザーがログインしている or ログインしていないとき-->
            <% else %>
              <%= link_to root_path do %>
              <%= image_tag 'IMG_8607.jpg', size: "350x80" %>
              <% end %>
            <% end %>
          </div>
          <button class ="navbar-toggler" type ="bottom" data-toggle ="collapse" data-target ="#navbarNavDropdown" aria-controls ="navbarNavDropdown" aria-expanded ="false" aria-label ="Toggle navigation">
            <span class ="navbar-toggler-icon"></span>
          </button>
          <div class ="collapse navbar-collapse" id ="navbarNavDropdown">
            <ul class ="navbar-nav ml-auto">
            <!--管理者がログインしているとき-->
            <% if admin_signed_in? %>
             <li class ="nav-item"><%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link text-dark' %></li>
             <%# li class ="nav-item">投稿一覧</li %>
             <li class ="nav-item"><%= link_to 'コメント一覧', admin_comments_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to 'タグ一覧', admin_tags_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' %></li>

            <!--ユーザーがログインしているとき-->
            <% elsif user_signed_in? %>
             <li class ="nav-item"><%= link_to 'マイページ', users_my_page_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to 'ロケ地一覧', posts_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to '新規投稿', new_post_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %></li>

            <!--ログインしていないとき-->
            <% else %>
             <li class ="nav-item"><%= link_to 'About', about_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to 'ロケ地一覧', posts_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to '新規登録', new_user_registration_path, class: 'nav-link text-dark' %></li>
             <li class ="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link text-dark' %></li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
     <%# deviseのフラッシュメッセージを表示 %>
     <p class ="notice"><%= notice %></p>
     <p class ="alert"><%= alert %></p>

     <%= yield %>
    </main>

    <footer></footer>

  </body>
</html>
